<div class="panel panel-primary" ng-controller="MovieListCtrl as vm">
    <div class="panel-heading">
        <h1 class="title">{{vm.pageTitle}}</h1>
    </div>

    <div class="panel-body">

        <!-- Filter the Title   -->
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4"><input type="text" ng-model="listFilter" /></div>
        </div>

        <div class="row" ng-show="listFilter">
            <h3>Movies filtered by: {{listFilter}}</h3>
        </div>

        <div class="table-responsive">
            <table class="table" ng-if="vm.movies.length">
                <thead>
                    <tr>
                        <td>
                            <button type="button"
                                    class="btn btn-info"
                                    ng-click="vm.toggleImage()">
                                {{vm.showImage ? "Hide" : "Show"}} Poster
                            </button>
                        </td>
                        <td>Title</td>
                        <td>Director</td>
                        <td>Release Date</td>
                        <td>MPAA Rating</td>
                        <td>DVD Price</td>
                        <td>5 Star Rating</td>
                        <td>Audience Approval</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="movie in vm.movies | filter : {title:listFilter} | orderBy : 'title'">
                        <td>
                            <img ng-show="vm.showImage" style="width:50px;margin:2px"
                                 ng-src="{{movie.imageurl}}" title="{{movie.title}}">
                        </td>
                        <td>{{ movie.title }}</td>
                        <td>{{ movie.director }}</td>
                        <td>{{ movie.releaseDate | date}}</td>
                        <td>{{ movie.mpaa | uppercase}}</td>
                        <td>{{ movie.price | currency:'USD$':2}}</td>
                        <td>{{ movie.starRating | number }} </td>
                        <td>{{ movie.approvalRating | number: '1.2'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
